﻿
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">USUARIOS </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users"></i>
        Listado de usuario
    </div>

    <div class="card-body">
       
        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Nombre </th>
                    <th>USUARIO</th>
                    <th>EMAIL</th>
                    <th>FECHA</th>
                    <th>SEXO</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>
            </tbody>

        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">EDITAR USUARIO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtid" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre" placeholder="nombres">


                    </div>


                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="txtusuario" placeholder="usuario">
                    </div>

                   
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="txtemail" placeholder="email">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="txtfecha" placeholder="fecha">
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">Sexo</label>
                        <input type="text" class="form-control" id="txtsexo" placeholder="sexo">
                    </div>




                </div>

                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script>
        var tabladatos;
        var fila

      tabladatos=   $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                 url:'@Url.Action("listausuario", "Home")',
            type: "GET",
            dataType: "json"

            },
            "columns": [

                { "data": "id" },
                { "data": "nombre" },
                { "data": "usuario" },
                { "data": "email" },
                { "data": "fecha" },
                { "data": "sexo" },


                {
                    "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar">  <i class="fas fa-trash">  </i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

                ],
             "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


      });



        function abrirModal(Json) {
            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtusuario").val("");
            $("#txtemail").val("");
            $("#txtfecha").val("");
            $("#txtsexo").val("");
            $("#mensajeError").hide();

            if (Json != null) {
                $("#txtid").val(Json.id);
                $("#txtnombre").val(Json.nombre);
                $("#txtusuario").val(Json.usuario);
                $("#txtemail").val(Json.email);
                $("#txtfecha").val(Json.fecha);
                $("#txtsexo").val(Json.sexo);





            }
            $("#Frommodal").modal("show");

        }


        $("#tabla tbody").on("click", ".btn-editar", function ()
        {

            fila= $(this).closest("tr");
            var datos = (tabladatos.row(fila).data());
            console.log();

            abrirModal(datos);


        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var proyectoseleccionado = $(this).closest("tr");
            var datos = (tabladatos.row(proyectoseleccionado).data());
          

            swal({
                title: "Se encuentra Seguro",
                text: "¿Desea eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirButtonClass: "btn-primary",
                confirButtonText: "si",
                cancelButtonText: "No",
                closeOnConfirm: true


            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("eliminarusuario", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: datos.id}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {
                                tabladatos.row(proyectoseleccionado).remove().draw();
                                swal("el usuario ha sido eliminado!")
                            } else {
                                swal("Se encuentra relacionado con alguna tabla!")
                            }


                        },
                        error: function (error) {
                            console.log(error)

                        }

                    });

                });

        })







        function guardar() {
            debugger;
            var Usuario = {
                id: $("#txtid").val(),
                nombre: $("#txtnombre").val(),
                usuario: $("#txtusuario").val(),
               email: $("#txtemail").val(),
               fecha: $("#txtfecha").val(),
                sexo: $("#txtsexo").val(),
                role: "empleado",


            }

            jQuery.ajax({
                url: '@Url.Action("guardarusuario", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto: Usuario }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");


                    //usuario nuevo jejeje
                    if (Usuario.id == 0) {
                        if (data.resultado != 0) {
                            Usuario.id = data.resultado;
                            tabladatos.row.add(Usuario).draw(false);
                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();
                        }
                         //usuario editar jejeje
                    } else {
                        if (data.resultado) {
                            tabladatos.row(fila).data(Usuario);
                            fila = null;
                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();

                        }


                    }

                }  ,
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("errror");
                     $("#mensajeError").show();
                },
                beforeSend: function () {

                    $(".modal-body").LoadingOverlay("show",
                        {
                            imageResiseFactor: 2,
                            text: "cargando",
                            size: 14
                        })



                }


            });



        }


    </script>




}






