﻿
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CAMBIAR CLAVE </title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">CAMBIAR CLAVE </h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("CambiarClave","Acceso")" method="post">
                                        <input type="text" value="@TempData["Id"]" name="id" />

                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputPassword" type="password" name="claveactual"    ViewData["claveusuario"] />
                                                    <label for="inputPassword">Contraseña actual </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputPassword" type="password" name="nuevaclave" x />
                                                    <label for="inputPassword">Contraseña nueva</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" id="inputPassword" type="password" name="confirmarclave" />
                                                    <label for="inputPassword">Confirmar contraseña</label>
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (ViewBag.Error != null)
                                            {

                                             <div class="row mb-3">
                                             <div class="alert alert-dark" role="alert">
                                              @ViewBag.Error
                                              </div>

                                             </div>

                                                  

                                                    }
                                                    }
                                                    <div class="mt-4 mb-0">
                                                        <div class="d-grid"> <button type="submit" class="btn btn-primary" href="index.html">CAMBIAR CONTRASEÑA</button></div>
                                                    </div>
                                            </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Index","Acceso")">REGRESAR</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">TANGENTE &copy; TANGENTE TRANSFORMACIÓN INTELIGENTES DE RL DE CV</div>
                        <div>
                            <a href="#">POLITICA DE PRIVACIDAD</a>
                            &middot;
                            <a href="#">TERMINOS &amp; CONDICIONES</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
   
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>






</html>
