﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrarUsuario</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">CREAR CUENTA USUARIO</h3></div>
                                <div class="card-body">
                                    <div class="modal-body ">
                                        <input id="txtid" type="text" value="0" />
                                        <div class="row g-2">
                                            <div class="col-sm-6">
                                                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="txtnombre" placeholder="nombres">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                                                <input type="text" class="form-control" id="txtusuario" placeholder="usuario">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="txtemail" placeholder="email">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                                                <input type="date" class="form-control" id="txtfecha" placeholder="fecha">
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="exampleFormControlInput1" class="form-label">Sexo</label>
                                                <input type="text" class="form-control" id="txtsexo" placeholder="sexo">
                                            </div>
                                        </div>
                                        <div class=" mt-2">
                                            <div class="col-12">
                                                <div id="mensajeError" class="alert alert-info" role="alert">                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                                        <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>
                                    </div>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="@Url.Action("Index", "Acceso")">YA TIENES CUENTA! INICIA SESION</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    
    <script>

            function guardar()
            {
                debugger;

                var Usuario = {

                    id: $("#txtid").val(),
                    nombre: $("#txtnombre").val(),
                    usuario: $("#txtusuario").val(),
                    email: $("#txtemail").val(),
                    fecha: $("#txtfecha").val(),
                    sexo: $("#txtsexo").val(),
                    role: "empleado",
                    
                }

                jQuery.ajax({
                    url: '@Url.Action("guardarusuario", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: Usuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado != 0) {
                            alert("usuario registrado"
                            )

                        } else {
                            alert("usuario erroneo"
                            )
                        }

                      

                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {


                    }

                });

        }


    </script>


    @Scripts.Render("~/bundles/jquery")

</body>






</html>


