﻿
@{
    ViewBag.Title = "CuentasContables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">CONCEPTO DE GASTOS</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1">  </i>
      CONCEPTO DE GASTOS
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">AGREGAR</button>


            </div>
        </div>
        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>ID CONTABLES</th>
                    <th>NOMBRE CONTABLES</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR CONCEPTO DE GASTOS </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtid" type="hidden" value="0" />
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">NOMBRE</label>
                        <input type="text" class="form-control" id="txtnombre" placeholder="NOMBRE">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">DESCRIPCION</label>
                        <input type="text" class="form-control" id="txtdescripcion" placeholder="DESCRIPCION">
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">CLAVE GASTO </label>
                        <select class="form-select" id="cbclavgasto" ></select>
                    </div>


                </div>

                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script>
        var tabladatos;
        var fila
        
      tabladatos=   $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                 url:'@Url.Action("listacuentascontables", "Catalogo")',
            type: "GET",
            dataType: "json"
            

            },
            "columns": [

                { "data": "id" },
                { "data": "nombre" },
                { "data": "descripcion" },
                { "data": "ocuentagasto.idgasto" },
                { "data": "ocuentagasto.nombre" },
              
                
                {
                    "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar">  <i class="fas fa-trash">  </i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }


          ],
      

          
             "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
          }

         


      });

          jQuery.ajax({
              url: '@Url.Action("listagastos", "Catalogo")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

              success: function (data) {
                  console.log(data); 
                  $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbclavgasto")
                  $.each(data.data, function (index, valor) {

                      $("<option>").attr({ "value": valor.idgasto }).text(valor.nombre).appendTo("#cbclavgasto")
                  })


                           


                        },
                        error: function (error) {
                            console.log(error)

                        }

                    });



        function abrirModal(Json) {
            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtdescripcion").val("");
            $("#cbclavgasto").val($("#cbclavgasto option:first").val());

            $("#mensajeError").hide();


            if (Json != null) {
                $("#txtid").val(Json.id);
                $("#txtnombre").val(Json.nombre);
                $("#txtdescripcion").val(Json.descripcion);
                $("#cbclavgasto").val(Json.ocuentagasto.idgasto);





            }
            $("#Frommodal").modal("show");

        }
        $("#tabla tbody").on("click", ".btn-editar", function ()
        {
            fila=$(this).closest("tr");
            var datos=(tabladatos.row(fila).data());
            abrirModal(datos);
            console.log(datos);
        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var centroseleccionado = $(this).closest("tr");
            var datos = (tabladatos.row(centroseleccionado).data());
            

            swal({
                title: "Se encuentra Seguro",
                text: "¿Desea eliminar el concepto de gasto?",
                type: "warning",
                showCancelButton: true,
                confirButtonClass: "btn-primary",
                confirButtonText: "si",
                cancelButtonText: "No",
                closeOnConfirm: true


            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("eliminarcuentascontables", "Catalogo")',
                        type: "POST",
                        data: JSON.stringify({ id: datos.id }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {
                                tabladatos.row(centroseleccionado).remove().draw();
                                swal("el concepto de gasto ha sido eliminado!")
                            } else {
                                swal("No se pudo eliminar tiene relacion con alguna tabla!")
                            }


                        },
                        error: function (error) {
                            console.log(error)

                        }

                    });

                });

        })

        function guardar() {
            var cuencontables = {
                id: $("#txtid").val(),
                nombre: $("#txtnombre").val(),
                descripcion: $("#txtdescripcion").val(),
                ocuentagasto: {
                    idgasto: $("#cbclavgasto option:selected").val(),
                    nombre: $("#cbclavgasto option:selected").text()
                }
            }
            jQuery.ajax({
                url: '@Url.Action("guardarcuentascontables", "Catalogo")',
                type: "POST",
                data: JSON.stringify({ objeto: cuencontables }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //usuario nuevo jejeje
                    if (cuencontables.id == 0) {
                        if (data.resultado != 0) {
                            cuencontables.id = data.resultado;
                            tabladatos.row.add(cuencontables).draw(false);
                            $("#Frommodal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();
                        }
                         //usuario editar jejeje
                    } else {
                        if (data.resultado) {
                            tabladatos.row(fila).data(cuencontables);
                            fila = null;
                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();

                        }


                    }

                }  ,
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("errror");
                     $("#mensajeError").show();
                },
                beforeSend: function () {

                    $(".modal-body").LoadingOverlay("show",
                        {
                            imageResiseFactor: 2,
                            text: "cargando",
                            size: 14
                        })



                }


            });



        }


    </script>

}
