﻿
@{
    ViewBag.Title = "EstatusCom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">ESTATUS COMPROBANTES  </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-money-bill-alt"></i>

        LISTADO DE MIS COMPROBANTES
    </div>

    <div class="card-body">

        <div class="modal-body ">

            <div class="row g-2">
                <input id="txtidm" type="hidden" value="@Session["idcuen"]" />
                <div class="col-sm-6">

                    <label for="exampleFormControlInput1" class="form-label">GASTOS COMPROBADOS</label>
                    <input type="text" class="form-control" id="txttotal">

                    <label for="exampleFormControlInput1" class="form-label">PENDIENTES A COMPROBAR</label>
                    <input type="text" class="form-control" id="txtpendiente">

                    <input type="hidden" class="form-control" id="txtimporte" value="@Session["importe"]">


                </div>


            </div>


        </div>









        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr style="background-color: rgb(102, 255, 153)";>
                    <th>ID </th>
                    <th>REF VIAJE </th>
                    <th>CONCEPTO</th>
                    <th>PRECIO</th>
                    <th>FECHA CAPTURA</th>
                    <th>FECHA GASTO</th>
                    <th>COMENTARIO</th>
                    <th>ESTATUS</th>


                    <th>Acciones</th>



                </tr>

            </thead>
            <tbody>
                <!--

                -->


            </tbody>

        </table>



    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">ESTATUS COMPROBANTE </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="hidden" value="0" />

                <form class="row" id="contenedor">



                    <div class="col-sm-3">
                        <div class="mb-3">



                            <label for="exampleFormControlInput1" class="form-label">ESTATUS</label>
                            <select class="form-select" id="cbestatus">
                                <option value="value1">SELECCIONAR</option>
                                <option value="value2">AUTORIZADO</option>
                                <option value="value3">PENDIENTE</option>
                                <option value="value4">NUEVO</option>
                            </select>


                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">

                            <div class="mb-3">



                            </div>


                        </div>
                    </div>








                </form>







               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>



                <button type="button" class="btn btn-primary" onclick="guardarviaje()">GUARDAR</button>
                

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Frommodalpdf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">DESCARGAR PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtidpdf" type="hidden" value="0" />




                <form action="@Url.Action("descargararchivo", "Catalogo")" method="post">



                    <div class="col-sm-3">
                        <div class="mb-3">



                            


                        </div>

                    </div>






                    <div class="col-sm-3">
                        <div class="mb-3">

                            <div class="mb-3">



                            </div>


                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>



                        <button type="submit" class="btn btn-primary">DESCARGAR PDF</button>


                    </div>
                </form>
            </div>
          
        </div>
    </div>
</div>



@section scripts {





    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>


    <script>





        var tabladatos;
        var tabla;
        var fila;




        function mostrarimagen(input) {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imagen").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

         jQuery.ajax({
              url: '@Url.Action("sumarcompro", "Catalogo")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {

                 $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                 $.each(data.data, function (index, valor) {

                     console.log(valor);
                     $("#txttotal").val(valor);

                     var t = $("#txttotal").val();
                     var res = $("#txtimporte").val() - $("#txttotal").val();
                     $("#txtpendiente").val(res);
                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
         });


          tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listacomdegasto", "Catalogo")',
                    type: "GET",
                    dataType: "json"

                },
                "columns": [
                    { "data": "id" },
                    { "data": "clavesolictud.nombreviatico" },
                    { "data": "clavecuentagasto.nombre" },
                    { "data": "precio" },
                    { "data": "fechacaptura" },
                    { "data": "fechagasto" },
                    { "data": "comentario" },
                    { "data": "estatus" },



                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-consulta">  <i class="fas fa-pen">  </i>  </button>'+
                        '<button type="button" class="btn btn-success btn-sm ms-2 btn-descargar">  <i class="fas fa-laptop-code"></i></button>',



                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });





        function abrirModales(Json) {
            $("#txtidpdf").val(Json.id);

            $("#Frommodalpdf").modal("show");


        }

        function abrirModal(Json) {
            $("#txtid").val(0);
            $("#imagen").removeAttr("src");
            $("#filegasto").val("");
            $("#cbrefviaje").val($("#cbrefviaje option:first").val());
            $("#cbgasto").val($("#cbgasto option:first").val());
            $("#txtgasto").val("");

            $("#txtfecha").val("");
            $("#txtfechagasto").val("");
            $("#txtcomentario").val("");

            $("#mensajeError").hide();


            if (Json != null) {



              //  $("#filegasto").val(Json.nombreproyecto.id);
                $("#txtid").val(Json.id);

                $("#cbrefviaje").val(Json.clavesolictud.nombreviatico);
                $("#cbgasto").val(Json.clavecuentagasto.nombre);
                $("#txtgasto").val(Json.precio);
                $("#txtfecha").val(Json.fechacaptura);
                $("#txtfechagasto").val(Json.fechagasto);
                $("#txtcomentario").val(Json.comentario);








            }
            $("#Frommodal").modal("show");

        }

        $("#tabla tbody").on("click", ".btn-consulta", function ()
        {

            fila = $(this).closest("tr");
            var datos = (tabladatos.row(fila).data());
            abrirModal(datos);
            console.log(datos);

        })

        $("#tabla tbody").on("click", ".btn-descargar", function () {

            fila = $(this).closest("tr");
            var datos = (tabladatos.row(fila).data());
            abrirModales(datos);
            console.log(datos);



                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Catalogo")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.id }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error)

                    }

                });


        })

         function guardarviaje() {
            var dato = {
                id: $("#txtid").val(),
                estatus: $("#cbestatus option:selected").text()
            }



            jQuery.ajax({
                url: '@Url.Action("editacom", "Catalogo")',
                type: "POST",
                data: JSON.stringify({ objeto: dato }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href = "EstatusCom";
                },
                error: function (error) {

                    $("#mensajeError").text("errror");
                    $("#mensajeError").show();
                },


            });
        }




    </script>

}
