﻿
@{
    ViewBag.Title = "EstatusViajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active"> ESTATUS VIAJES </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-plane"></i>

        LISTADO DE VIAJES
    </div>

    <div class="card-body">

     

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr >

                    <th>REF VIAJE</th>
                    <th>NOMBRE</th>
                    <th>PROYECTO</th>
                    <th>FECHA SALIDA</th>
                    <th>FECHA REGRESO</th>
                    <th >ESTATUS</th>
                    <th >importe ($)</th>

                    <th>Acciones</th>

                </tr>

            </thead>


        </table>

    </div>
</div>





<div class="modal fade" id="FromModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">APROBAR VIAJES  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtemple" type="hidden" value="0" />
                <div class="row g-3">
                   

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">ESTATUS </label>
                        <select class="form-select" id="cbestatus">
                            <option value="value1">SELECCIONAR</option>
                            <option value="value2" selected>AUTORIZADO</option>
                            <option value="value3">PENDIENTE</option>
                            <option value="value4">RECHAZADO</option>
                            <option value="value5">NUEVO</option>
                        </select>
                    </div>

                   

                </div>

                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError2" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-primary" onclick="guardarviaje()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>



@section scripts {


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>
    <script>
        var tabladatos;
        var fila






              tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listarviaje", "Catalogo")',
                    type: "GET",
                    dataType: "json"

                },
                  "columns": [
                    { "data": "nombreviatico" },
                    { "data": "nombreusuario.nombre" },
                    { "data": "nombreproyecto.nombre" },
                    { "data": "fechasalida" },
                      { "data": "fechacaptura" },
                      { "data": "estatus" },
                    { "data": "importe" },


                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-consultar"> <i class="fas fa-money-bill-wave-alt"></i> </button>' +
                            '<button type="button" class="btn btn-success btn-sm ms-2 btn-concepto">  <i class="fas fa-money-check-alt"></i></button>',


                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                        
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });













            $("#tabla tbody").on("click", ".btn-editar", function () {
                fila = $(this).closest("tr");
                var datos = (tabladatos.row(fila).data());
                abrirModales(datos);
                console.log(datos);
            })

         $("#tabla tbody").on("click", ".btn-consultar", function () {
                fila = $(this).closest("tr");

                var datos = (tabladatos.row(fila).data());
                console.log(datos.idsolicitud);


                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Catalogo")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                         jQuery.ajax({
                    url: '@Url.Action("ImporteViaje", "Catalogo")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.importe }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        location.href = "EstatusCom";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

                        



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

            });

        $("#tabla tbody").on("click", ".btn-concepto", function () {
                fila = $(this).closest("tr");

                var datos = (tabladatos.row(fila).data());
                console.log(datos.idsolicitud);


                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Catalogo")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);


                        location.href="Miscuentas";




                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

            });




            function abrirModales(Json) {
                $("#txtemple").val(0);
                $("#cbestatus").val($("#cbestatus option:first").val());


                $("#txtmonto").val("");


                $("#mensajeError2").hide();


                if (Json != null) {
                    $("#txtemple").val(Json.idsolicitud);

                    $("#cbusuario").val(Json.nombreusuario.nombre);





                }
                $("#FromModal").modal("show");

        }
        function guardarviaje() {
            var dato = {
                idsolicitud: $("#txtemple").val(),
                estatus: $("#cbestatus option:selected").text()
            }



            jQuery.ajax({
                url: '@Url.Action("editavia", "Catalogo")',
                type: "POST",
                data: JSON.stringify({ objeto: dato }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    location.href = "EstatusViajes";
                },
                error: function (error) {

                    $("#mensajeError").text("errror");
                    $("#mensajeError").show();
                },


            });
        }

    </script>

}

