﻿
@{
    ViewBag.Title = "Miscuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">CONCEPTO CUENTAS CONTABLES  </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-money-bill-wave"></i>

        LISTADO DE CUENTAS CONTABLES
    </div>

    <div class="card-body">

        <div class="modal-body ">

            <div class="row g-2">
                <input id="txtidm" type="hidden" value="@Session["idcuen"]" />
                <div class="col-sm-6">

                    <label for="exampleFormControlInput1" class="form-label">Total</label>
                    <input type="text" class="form-control" id="txttotal">


                </div>


            </div>


        </div>


        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>CONCEPTO</th>
                    <th>DESCRIPCION</th>
                    <th>EMPLEADO</th>
                    <th>PRECIO</th>

                   



                </tr>

            </thead>
            <tbody>
            </tbody>

        </table>



    </div>
</div>







@section scripts {





    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>


    <script>





        var tabladatos;
        var tabla;
        var fila;
        var idcuentas = $("#txtidm").val();
        console.log(idcuentas);



         jQuery.ajax({
              url: '@Url.Action("listacontables", "Catalogo")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {

                 $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                 $.each(data.data, function (index, valor) {

                     console.log(valor);
                     $("#txttotal").val(valor);
                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });












        tabladatos = $('#tabla').DataTable({
            responsive: true,
            ordering: false,

            "ajax": {
                url: '@Url.Action("listacontaemple", "Catalogo")',
                type: "GET",

                dataType: "json",


            }
            ,

            "columns": [

                { "data": "id" },
                { "data": "clavecontable.nombre" },
                { "data": "clavecontable.descripcion" },
                { "data": "claveusuario.nombre" },
                { "data": "monto" },


              
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            },





        });


























    </script>

}

