﻿
@{
    ViewBag.Title = "AgregarComprobante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">AGREGAR COMPROBANTEs </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-warehouse-alt"></i>

        LISTADO SOLICITUD DE VIAJES
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">AGREGAR</button>



            </div>
        </div>
        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>

                    <th>REF VIAJE</th>
                    <th>EMPLEADO</th>
                    <th>UNIDAD ADMIN</th>
                    <th>CENTRO COSTO</th>
                    <th>FECHA SALIDA</th>
                    <th>ESTATUS</th>
                    <th>IMPORTE</th>
                    <th>Acciones</th>

                </tr>

            </thead>


        </table>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR COMPROBANTE DE GASTOS </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtdaots" type="hidden" value="0" />

                <form class="row" id="contenedor">
                    <div class="col-sm-3">
                        <!--

      <div class="mb-2">
         <img id="imagen" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
      </div>
        -->
                        <div class="mb-2">
                            <input class="form-control" type="file" id="filegasto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarimagen(this)" />

                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                           


                                <label for="exampleFormControlInput1" class="form-label">REF VIAJE</label>
                                <select class="form-select" id="cbrefviaje"></select>


                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">CONCEPTO GASTO</label>
                            <select class="form-select" id="cbgasto" placeholder="GASTOS"></select>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">PRECIO</label>
                            <input type="text" class="form-control" id="txtgasto" placeholder="PRECIO">

                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                          
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">FECHA CAPTURA</label>
                                <input type="date" class="form-control" id="txtfecha" placeholder="FECHA HASTA" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">FECHA GASTO</label>
                                <input type="date" class="form-control" id="txtfechagasto" placeholder="PRECIO">

                            </div>


                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3" >
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">COMENTARIO</label>
                                <input type="text" class="form-control" id="txtcomentario" style="height:125px; resize:none" placeholder="GASTOS">
                            </div>

                            <div class="mb-3">
                              
                                

                            </div>


                        </div>
                    </div>



                  
                 



                </form>
                






                        <div class=" mt-2">
                            <div class="col-12">
                                <div id="mensajeError" class="alert alert-info" role="alert">
                                    A simple info alert—check it out!
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>



                        <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>

                    </div>
                </div>
            </div>
        </div>
    





@section scripts {


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>
    <script>
        var tabladatos;
        var fila


        function mostrarimagen(input) {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imagen").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        window.onload = function () {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            document.getElementById('txtfecha').value = ano + "-" + mes + "-" + dia;
        }



           tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listarviajeus", "Home")',
                    type: "GET",
                    dataType: "json"

                },
                "columns": [
                    { "data": "nombreviatico" },
                    { "data": "nombreusuario.nombre" },
                    { "data": "nombreuniadmin.nombre" },
                    { "data": "centrocosto.nombre" },
                    { "data": "fechasalida" },
                  //  { "data": "fecharegreso" },
                 //   { "data": "origen" },
                   // { "data": "destino" },
                    { "data": "estatus" },
                    { "data": "importe" },


                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-consultar">  <i class="fas fa-sticky-note"></i>  </button>' ,

                            
                           
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });





            debugger;
            jQuery.ajax({
                url: '@Url.Action("listarviajeus", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbrefviaje")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.idsolicitud }).text(valor.nombreviatico).appendTo("#cbrefviaje")
                    })




                },
                error: function (error) {
                    console.log(error)
                }
            });





            jQuery.ajax({
                url: '@Url.Action("listacuentascontables", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbgasto")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbgasto")
                    })




                },
                error: function (error) {
                    console.log(error)
                }
            });

            debugger;
            jQuery.ajax({
                url: '@Url.Action("listausuario", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbempleado")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbempleado")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("listacentrogasto", "Home")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbcentrocosto")
                    $.each(data.data, function (index, valor) {
                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbcentrocosto")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });
            jQuery.ajax({
                url: '@Url.Action("listaproyecto", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbproyecto")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbproyecto")
                    })





                },
                error: function (error) {
                    console.log(error)

                }

            });
          

            function abrirModal(Json) {
                debugger;
                $("#txtid").val(0);
                $("#imagen").removeAttr("src");
                $("#filegasto").val("");
                $("#cbrefviaje").val($("#cbrefviaje option:first").val());
                $("#cbgasto").val($("#cbgasto option:first").val());
                $("#txtgasto").val("");

              //  $("#txtfecha").val("");
                $("#txtfechagasto").val("");
                $("#txtcomentario").val("");

                $("#mensajeError").hide();


                if (Json != null) {
                    $("#txtid").val(Json.idsolicitud);
                    $("#imagen").val(Json.nombreusuario.id);
                    $("#cbproyecto").val(Json.nombreproyecto.id);
                    $("#txtfechadesde").val(Json.fechasalida);
                    $("#txtfechacaptura").val(Json.fechacaptura);
                    $("#txtfechahasta").val(Json.fecharegreso);
                    $("#cbunidad").val(Json.nombreuniadmin.id);
                    $("#cbcentrocosto").val(Json.centrocosto.id);
                    $("#txtcomentarios").val(Json.comentarios);
                    $("#txtorigen").val(Json.origen);
                    $("#txtdestino").val(Json.destino);




                }
                $("#Frommodal").modal("show");

            }


           
            $("#tabla tbody").on("click", ".btn-consultar", function () {
                fila = $(this).closest("tr");

                var datos = (tabladatos.row(fila).data());
                console.log(datos);

                  jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                          jQuery.ajax({
                    url: '@Url.Action("ImporteViaje", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.importe }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        location.href = "MisComprobantes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

                        



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });









            });













        


        function guardar() {

            var imagenseleccionada = $("#filegasto")[0].files[0];
                var comgastos = {
                    id: $("#txtdaots").val(),
                    clavesolictud: {
                        idsolicitud: $("#cbrefviaje option:selected").val(),
                        nombreviatico: $("#cbrefviaje option:selected").text()
                    },
                    clavecuentagasto: {
                        id: $("#cbgasto option:selected").val(),
                        nombre: $("#cbgasto option:selected").text()
                    },
                    precio: $("#txtgasto").val(),
                    fechacaptura: $("#txtfecha").val(),
                    fechagasto: $("#txtfechagasto").val(),
                    comentario: $("#txtcomentario").val(),
                    estatus:"NUEVO",
                }
            console.log(comgastos);

            var request = new FormData();
            request.append("objeto", JSON.stringify(comgastos))
            request.append("archivoimagen", imagenseleccionada )

                jQuery.ajax({
                    url: '@Url.Action("guardarcomprobanti", "Home")',
                    type: "POST",
                    data: request,
                    processData: false,

                    contentType:false,
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje
                        
                            if (data.idgenerado != 0) {
                                comgastos.id = data.idgenerado;
                               
                                $("#Frommodal").modal("hide");

                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();
                            }
                            //usuario editar jejeje
                       

                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });



            }

            function guardarcontable() {
                var contableusuario = {

                    monto: $("#txtmonto").val(),
                    clavecontable: {
                        id: $("#cbcontable option:selected").val(),
                        nombre: $("#cbcontable option:selected").text()

                    },

                    claveusuario: {
                        id: $("#txtidusuario").val()

                    },
                    clavesolicitud: {
                        idsolicitud: $("#txtemple").val(),

                    },





                }
                console.log(contableusuario);

                jQuery.ajax({
                    url: '@Url.Action("guardarcontableempleado", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: contableusuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje

                        if (data.resultado != 0) {
                            contableusuario.id = data.resultado;

                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();
                        }



                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError2").text("errror");
                        $("#mensajeError2").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });



            }






    </script>



}













