﻿
@{
    ViewBag.Title = "MisComprobantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">MIS COMPROBANTES   </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-money-bill"></i>

        LISTADO DE MIS COMPROBANTES
    </div>

    <div class="card-body">

        <div class="modal-body ">

            <div class="row g-2">
                <input id="txtidm" type="hidden" value="@Session["idcuen"]" />


            </div>


        </div>

        <div class="modal-body ">
            <input id="txtdaots" type="hidden" value="@Session["cliente"]" />
            <input id="txtid" type="hidden" value="0" />

            <div class="row sm-3">
                <div class="col-sm-3">
                    <div class="sm-2">

                        <label for="exampleFormControlInput1" class="form-label">EMPLEADO</label>
                        <input type="text" class="form-control" id="txtidempleado" readonly />

                        <label for="exampleFormControlInput1" class="form-label">NOMBRE EMPLEADO</label>
                        <input type="text" class="form-control" id="txtnom" readonly />



                    </div>


                    <div class="sm-2">
                        <label for="exampleFormControlInput1" class="form-label">REF VIAJE</label>
                        <input type="text" class="form-control" id="txtviajes" readonly>
                    </div>
                    <div class="sm-2">
                        <label for="exampleFormControlInput1" class="form-label">FECHA DESDE</label>
                        <input type="date" class="form-control" id="txtfechadesde" readonly>
                    </div>






                </div>

                <div class="col-sm-3">


                    <div class="sm-3">
                        <label for="exampleFormControlInput1" class="form-label">FECHA HASTA </label>
                        <input type="date" class="form-control" id="txtfechahasta" readonly />
                    </div>
                    <div class="sm-3">
                        <label for="exampleFormControlInput1" class="form-label">FECHA CAPTURA</label>
                        <input type="date" class="form-control" id="txtfechacaptura" readonly>

                    </div>
                    <div class="sm-3">
                        <label for="exampleFormControlInput1" class="form-label">CENTRO COSTO</label>
                        <input type="text" class="form-control" id="txtcencosto" readonly>

                    </div>
                    <div class="sm-3">
                        <label for="exampleFormControlInput1" class="form-label">PROYECTO</label>
                        <input type="text" class="form-control" id="txtproyecto" readonly>

                    </div>

                </div>
                <div class="col-sm-4">


                    <div class="sm-4">
                        <label for="exampleFormControlInput1" class="form-label">UNIDAD ADMINISTRATIVA</label>
                        <input type="text" class="form-control" id="txtuniadmin" readonly>

                    </div>

                    <div class="sm-4">
                        <label for="exampleFormControlInput1" class="form-label">ORIGEN</label>
                        <input type="text" class="form-control" id="txtorigen" readonly>
                    </div>
                    <div class="sm-4">
                        <label for="exampleFormControlInput1" class="form-label">DESTINO</label>
                        <input type="text" class="form-control" id="txtdestino" readonly>
                    </div>

                    <div class="sm-4">
                        <label for="exampleFormControlInput1" class="form-label">COMENTARIOS</label>
                        <textarea class="form-check" id="txtcomentarios" readonly></textarea>

                    </div>
                    <div class="sm-4">
                        <label for="exampleFormControlInput1" class="form-label">ESTATUS</label>
                        <input class="form-control" id="txtestatus" readonly />

                    </div>



                </div>

            </div>
        </div>




        <hr />

        <table id="tablaconcepto" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>CONCEPTO</th>
                    <th>DESCRIPCION</th>
                    <th>EMPLEADO</th>
                    <th>IMPORTE</th>





                </tr>

            </thead>
            <tbody>
            </tbody>

        </table>
        <div class="col-sm-6">
            <label for="exampleFormControlInput1" class="form-label">Total</label>
            <input type="text" class="form-control" value="d"id="txttotalconcepto" readonly>

        </div>

        <hr />

        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>REF VIAJE </th>
                    <th>CONCEPTO</th>
                    <th>IMPORTE</th>
                    <th>FECHA CAPTURA</th>
                    <th>FECHA GASTO</th>
                    <th>COMENTARIO</th>

                    <th>Acciones</th>



                </tr>

            </thead>
            <tbody>
            </tbody>

        </table>

        <hr />
        <div class="col-sm-3">

            <label for="exampleFormControlInput1" class="form-label">Total</label>
            
            <input type="text" class="form-control" value="p" id="txttotal">
            <label for="exampleFormControlInput1" class="form-label">PENDIENTE A COMPROBRAR</label>
            <input type="text" class="form-control" value="f" id="txtpendinete">
            <input type="hidden" class="form-control" id="txtimporte" value="@Session["importe"]">

        </div>



    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">EDITAR MIS COMPROBANTES </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="hidden" value="0" />

                <form class="row" id="contenedor">

                    <div class="col-sm-3">
                        
                        <div class="mb-2">
                            <input class="form-control" type="file" id="filegasto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarimagen(this)" />
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">



                            <label for="exampleFormControlInput1" class="form-label">REF VIAJE</label>
                            
                            <select class="form-select" id="cbrefviaje"></select>


                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">CONCEPTO GASTO</label>
                            <select class="form-select" id="cbgasto" placeholder="GASTOS"></select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">PRECIO</label>
                            <input type="text" class="form-control" id="txtgasto" placeholder="PRECIO" name="pre">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">FECHA CAPTURA</label>
                                <input type="date" class="form-control" id="txtfecha" placeholder="FECHA HASTA">
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">FECHA GASTO</label>
                                <input type="date" class="form-control" id="txtfechagasto" placeholder="PRECIO">

                            </div>


                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">COMENTARIO</label>
                                <input type="text" class="form-control" id="txtcomentario" style="height:125px; resize:none" placeholder="GASTOS">
                            </div>

                            <div class="mb-3">



                            </div>


                        </div>
                    </div>








                </form>







                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>



                <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>
                <form action="@Url.Action("descargararchivo","Home")" method="post">

                    <button type="submit" class="btn btn-primary">DESCARGAR PDF </button>

                </form>
                   
</div>
        </div>
    </div>
</div>



@section scripts {





    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>


    <script>





        var tabladatos;
        var tablaconce;
        var tabla;
        var fila;




        function mostrarimagen(input) {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imagen").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        jQuery.ajax({
              url: '@Url.Action("sumarcompro", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {

                 $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                 $.each(data.data, function (index, valor) {

                     console.log(valor);
                     $("#txttotal").val(valor);

                     var t = $("#txttotal").val();
                     var res = $("#txtimporte").val() - $("#txttotal").val();
                     $("#txtpendinete").val(res);
                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
        });
         jQuery.ajax({
              url: '@Url.Action("listarviatico", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {
                 console.log(data);

                 $.each(data.data, function (index, valor) {



                     $("#txtidempleado").val(valor.nombreusuario.id);
                     $("#txtnom").val(valor.nombreusuario.nombre);
                     $("#txtviajes").val(valor.nombreviatico);
                     $("#txtfechadesde").val(valor.fechasalida);
                     $("#txtfechahasta").val(valor.fecharegreso);
                     $("#txtfechacaptura").val(valor.fechacaptura);
                     $("#txtproyecto").val(valor.nombreproyecto.nombre);
                     $("#txtuniadmin").val(valor.nombreuniadmin.nombre);
                     $("#txtcencosto").val(valor.centrocosto.nombre);
                   //  $("#txtfechacaptura").val(valor.nombreviatico);
                     $("#txtorigen").val(valor.origen);
                     $("#txtdestino").val(valor.destino);
                     $("#txtcomentarios").val(valor.comentarios);
                     $("#txtestatus").val(valor.estatus);

                     //
                 })



                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });

        tablaconce = $('#tablaconcepto').DataTable({
            responsive: true,
            ordering: false,

            "ajax": {
                url: '@Url.Action("listacontaemple", "Home")',
                type: "GET",

                dataType: "json",



            }
            ,




            "columns": [

                { "data": "id" },
                { "data": "clavecontable.nombre" },
                { "data": "clavecontable.descripcion" },
                { "data": "claveusuario.nombre" },
                { "data": "monto" },




            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            },





        });
         jQuery.ajax({
              url: '@Url.Action("listacontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {


                 $.each(data.data, function (index, valor) {

                     console.log(valor);
                     $("#txttotalconcepto").val(valor);
                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
        tabladatos = $('#tabla').DataTable({
            responsive: true,
            ordering: false,

            "ajax": {
                url: '@Url.Action("listacomdegasto", "Home")',
                type: "GET",

                dataType: "json",
            }
            ,
            "columns": [

                { "data": "id" },
                { "data": "clavesolictud.nombreviatico" },
                { "data": "clavecuentagasto.nombre" },
                { "data": "precio" },
                { "data": "fechacaptura" },
                { "data": "fechagasto" },
                { "data": "comentario" },


                {
                    "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar">  <i class="fas fa-trash">  </i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            },





        });






         jQuery.ajax({
                url: '@Url.Action("listarviajeus", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbrefviaje")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.idsolicitud }).text(valor.nombreviatico).appendTo("#cbrefviaje")
                    })




                },
                error: function (error) {
                    console.log(error)
                }
            });




         jQuery.ajax({
              url: '@Url.Action("listacuentascontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

              success: function (data) {
                  console.log(data);
                  $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbgasto")
                  $.each(data.data, function (index, valor) {

                      $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbgasto")
                  })




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });




        jQuery.validator.addMethod("preciodecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0.2})?$/i.test(value);
        }, "El formato correcto del precio es ##.##");
        $("#contenedor").validate({
            rules: {
                pre: {
                    required: true,
                    preciodecimal: true
                }
            },
            messages: {
                pre: { required: "El campo precio es obligatorio", preciodecimal:"El formato correcto del precio es ##.##" }
            },
            errorLabelContainer:".alert-info"
        })


        function abrirModal(Json) {
            $("#txtid").val(0);
            $("#imagen").removeAttr("src");
            $("#filegasto").val("");
            $("#cbrefviaje").val($("#cbrefviaje option:first").val());
            $("#cbgasto").val($("#cbgasto option:first").val());
            $("#txtgasto").val("");

            $("#txtfecha").val("");
            $("#txtfechagasto").val("");
            $("#txtcomentario").val("");

            $("#mensajeError").hide();


            if (Json != null) {



              //  $("#filegasto").val(Json.nombreproyecto.id);
                $("#txtid").val(Json.id);

                $("#cbrefviaje").val(Json.clavesolictud.nombreviatico);
                $("#cbgasto").val(Json.clavecuentagasto.nombre);
                $("#txtgasto").val(Json.precio);
                $("#txtfecha").val(Json.fechacaptura);
                $("#txtfechagasto").val(Json.fechagasto);
                $("#txtcomentario").val(Json.comentario);










            }
            $("#Frommodal").modal("show");

        }

        $("#tabla tbody").on("click", ".btn-editar", function ()
        {
            fila= $(this).closest("tr");
            var datos=(tabladatos.row(fila).data());
            abrirModal(datos);
            console.log(datos);

              jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.id }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var centroseleccionado = $(this).closest("tr");
            var datos = (tabladatos.row(centroseleccionado).data());
            console.log(datos);

            swal({
                title: "Se encuentra Seguro",
                text: "¿Desea eliminar el siguiete comprobante?",
                type: "warning",
                showCancelButton: true,
                confirButtonClass: "btn-primary",
                confirButtonText: "si",
                cancelButtonText: "No",
                closeOnConfirm: true


            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("eliminarcom", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: datos.id }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {
                                tabladatos.row(centroseleccionado).remove().draw();
                                swal("el gasto se  ha sido eliminado!")
                            } else {
                                swal("No se pudo eliminar!")
                            }



                        },
                        error: function (error) {
                            console.log(error)

                        }

                    });

                });

        })


        function guardar(){

            if (!$("#contenedor").valid()) {
                return;
            }


            var imagenseleccionada = $("#filegasto")[0].files[0];
                var comgastos = {
                    id: $("#txtid").val(),
                    clavesolictud: {
                        idsolicitud: $("#cbrefviaje option:selected").val(),
                        nombreviatico: $("#cbrefviaje option:selected").text()
                    },
                    clavecuentagasto: {
                        id: $("#cbgasto option:selected").val(),
                        nombre: $("#cbgasto option:selected").text()
                    },
                    precio: $("#txtgasto").val(),
                    fechacaptura: $("#txtfecha").val(),
                    fechagasto: $("#txtfechagasto").val(),
                    comentario: $("#txtcomentario").val(),


                }
            console.log(comgastos);

            var request = new FormData();
            request.append("objeto", JSON.stringify(comgastos))
            request.append("archivoimagen", imagenseleccionada )

                jQuery.ajax({
                    url: '@Url.Action("guardarcomprobanti", "Home")',
                    type: "POST",
                    data: request,
                    processData: false,

                    contentType:false,
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje

                            if (data.operacionexitosa) {
                                tabladatos.row(fila).data(comgastos);
                                fila = null;
                                location.href = "MisComprobantes";
                                $("#Frommodal").modal("hide");

                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();

                            }




                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });



            }







    </script>

}
